@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import 'tailwindcss';

@config '../../tailwind.config.ts';

:root {
  --start-color: rgba(249, 73, 149, 0.612);
  --end-color: rgba(148, 188, 233, 0.675);
}

.cursive {
  font-family: 'Cedarville Cursive', cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(
      0deg,
      rgba(244, 97, 187, 1) 0%,
      rgba(241, 110, 83, 1) 35%,
      rgba(135, 221, 241, 0.9831582291119573) 100%
    );
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 900px) {
  .Welcome-text {
    background: white;
    background-blend-mode: normal, screen;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #309bd585;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(48, 144, 241, 0) 0%,
      rgba(81, 178, 219, 0.32) 100%
    ),
    rgba(47, 68, 255, 0.12);
  box-shadow: inset 0 0 12px #5466ee3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.dark {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 0, 6, 0.95) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bg-nav {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.3) 0%,
    rgba(148, 187, 233, 0.3) 100%
  );
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

li.group.active span {
  @apply transition-transform duration-500 opacity-100 translate-y-0;
}

li.group.active div {
  @apply transition-transform duration-500 translate-y-[37px];
}

.indicator {
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
}

.indicator1 {
  z-index: 5;
  position: absolute;
  background: radial-gradient(
    circle,
    var(--start-color) 0%,
    var(--end-color) 100%
  );
  z-index: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 60%;
}

.indicator2 {
  z-index: 5;
  position: absolute;
  z-index: -1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(92, 144, 158, 0.37);
  opacity: 40%;
}

ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc((104px * 0) - 13px));
}
ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc((104px * 1) - 13px));
}
ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc((104px * 2) - 13px));
}

/*=================KEY FRAME ANIMATION===============*/
@keyframes slideToTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-28%);
  }
}

.slideToTop {
  animation: slideToTop 5s ease-in forwards;
}
