@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import 'tailwindcss';

@config '../../tailwind.config.ts';

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@utility font-small-caps {
  font-variant: all-small-caps;
}

@utility center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

:root {
  --start-color: rgba(249, 73, 149, 0.612);
  --end-color: rgba(148, 188, 233, 0.675);
}

.cursive {
  font-family: 'Cedarville Cursive', cursive;
}

li.group.active span {
  @apply translate-y-0 opacity-100 transition-transform duration-500;
}

li.group.active div {
  @apply translate-y-[37px] transition-transform duration-500;
}

.dark {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 0, 6, 0.95) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.indicator {
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.5s;
}

.indicator1 {
  z-index: 5;
  position: absolute;
  background: radial-gradient(
    circle,
    var(--start-color) 0%,
    var(--end-color) 100%
  );
  z-index: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 60%;
}

.indicator2 {
  z-index: 5;
  position: absolute;
  z-index: -1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(92, 144, 158, 0.37);
  opacity: 40%;
}

ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc((104px * 0) - 13px));
}
ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc((104px * 1) - 13px));
}
ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc((104px * 2) - 13px));
}

@theme {
  --animate-slide-to-top: slideToTop 5s ease-in forwards;
  @keyframes slideToTop {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-28%);
    }
  }
}
