@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@import 'tailwindcss';
@config '../../tailwind.config.ts';

:root {
  --start-color: rgba(249, 73, 149, 0.612);
  --end-color: rgba(148, 188, 233, 0.675);
}

body {
  @apply lining-nums;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

@utility font-small-caps {
  font-variant: all-small-caps;
}

@utility center {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --animate-slide-to-top: slideToTop 5s ease-in forwards;
  @keyframes slideToTop {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-28%);
    }
  }
}

.dark {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 0, 6, 0.95) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.type::after {
  content: '|';
  color: blue;
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}
